<h2><%= @persona.nombre %> <%= @persona.apellido%></h2>
<div>
  <span>Edad: </span> <%= @persona.edad%>
</div>
<div>
  <span>Email: </span> <%= @persona.email%>
</div>
<div >
  <%=link_to "volver", root_path %>  
</div>
